.curseclient
minecraftinstance.json
banned-ips.json
banned-players.json
config/
eula.txt
forge-1.20.1-47.4.0-installer.jar
forge-1.20.1-47.4.0-installer.jar.log
libraries/
logs/
ops.json
run.bat
run.sh
server.properties
user_jvm_args.txt
usercache.json
whitelist.json
world/
